html, body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

canvas {
	
}

#layout { 
  color:#FFF; height:600px; width:100%; height:100%; 
}
.stars {
  top: 0;
  z-index: -1;
  position: absolute;
  background-image: url(   http://www.14denoviembre.es/img/hori.png ), url( http://www.14denoviembre.es/img/stars_5.png );
  background-repeat: repeat-x,repeat-x repeat-y;
  transform:translate3D(0em, 0em, 0);
  animation: stars 21s ease; 
  transform-style: preserve-3d;
}

.stellar_logo {
	top: 0;
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}

.buttons h1 {
	margin-left: 30px;
	color: #0eb9e9;
	font: 700 3em 'Fira Sans', sans-serif;
}

button {
	color: #ffa260;
	background: none;
	border: 2px solid;
	font: inherit;
	line-height: 1;
	margin: 0.5em;
	padding: 1em 2em;
}

.buttons {
	bottom: 10px;
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;

  	transition: 0.25s;
  	font: 300 1em 'Fira Sans', sans-serif;
}

.raise {
	color: #0eb9e9;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  color: #00FFFF;
}

.selected {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  color: #00FFFF;
}


#description {
	position:absolute;
	top: 0;
	left:0;
	width:400px;
	height:100vh;
	background-color: rgba(50,50,50,.5);
	text-align: center;
	transform-origin: left;
	transition: all 400 ms ease;

}
#description  p {
	color: #00FFFF;
	font-size: 11px;
	width:100%;
	height: 20px;
	text-align: center;


}
#description  h1 {
	color: #0080ff;
	font-size: 25px;
	width:100%;
	height: 50px;
	text-align: center;
	font-weight: bold;

}

#description_lines h3 {
	font-weight: bold;
	color: #0080ff;
}

.my-legend .legend-title {
	text-align: left;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 90%;
}
.my-legend .legend-scale ul {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	float: left;
	list-style: none;
}
.my-legend .legend-scale ul li {
	font-size: 80%;
	list-style: none;
	margin-left: 0;
	line-height: 18px;
	margin-bottom: 5px;
}
.my-legend ul.legend-labels li span {
	display: block;
	float: left;
	height: 16px;
	width: 30px;
	margin-right: 5px;
	margin-left: 0;
	border: 0px solid #FFF;
}
.my-legend .legend-source {
	font-size: 70%;
	color: #999;
	clear: both;
}
.my-legend a {
	color: #777;
}

.my-legend {
	bottom: 0;
	position: absolute;
	right:0;
	background-color: rgba(50,50,50,.5);
	font: 300 1em 'Fira Sans', sans-serif;
	color: white;
	padding: 10px;
}