html, body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

canvas {
	
}

#layout { 
  color:#FFF; height:600px; width:100%; height:100%; 
}
.stars {
  top: 0;
  z-index: -1;
  position: absolute;
  background-image: url(   http://www.14denoviembre.es/img/hori.png ), url( http://www.14denoviembre.es/img/stars_5.png );
  background-repeat: repeat-x,repeat-x repeat-y;
  transform:translate3D(0em, 0em, 0);
  animation: stars 21s ease; 
  transform-style: preserve-3d;
}

.stellar_logo {
	top: 0;
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	}