html, body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

canvas {
	
}

#layout { 
  color:#FFF; height:600px; width:100%; height:100%; 
}
.stars {
  top: 0;
  z-index: -1;
  position: absolute;
  background-image: url(   http://www.14denoviembre.es/img/hori.png ), url( http://www.14denoviembre.es/img/stars_5.png );
  background-repeat: repeat-x,repeat-x repeat-y;
  transform:translate3D(0em, 0em, 0);
  animation: stars 21s ease; 
  transform-style: preserve-3d;
}

.stellar_logo {
	top: 0;
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}

.buttons h1 {
	margin-left: 30px;
	color: #0eb9e9;
	font: 700 3em 'Fira Sans', sans-serif;
}

button {
	color: #ffa260;
	background: none;
	border: 2px solid;
	font: inherit;
	line-height: 1;
	margin: 0.5em;
	padding: 1em 2em;
}

.buttons {
	bottom: 10px;
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;

  	transition: 0.25s;
  	font: 300 1em 'Fira Sans', sans-serif;
}

.raise {
	color: #0eb9e9;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  color: #00FFFF;
}

.selected {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  color: #00FFFF;
}


#description {
	position:absolute;
	top: 0;
	left:0;
	width:400px;
	height:100vh;
	background-color: rgba(50,50,50,.5);
	text-align: center;
	transform-origin: left;
	transition: all 400 ms ease;
	padding-left: 20px;
	padding-right: 20px;
	word-wrap: break-word;

}
#description  p {
	color: #00FFFF;
	font-size: 11px;
	width:100%;
	min-height: 20px;
	text-align: center;
	font: 300 1em 'Fira Sans', sans-serif;
}
#description  h1 {
	color: #0080ff;
	font-size: 25px;
	width:100%;
	height: 50px;
	text-align: center;
	font-weight: bold;
	font: 300 2em 'Fira Sans', sans-serif;

}

#description_lines h3 {
	font-weight: bold;
	color: #0080ff;
	font: 300 1.5em 'Fira Sans', sans-serif;
}

.my-legend .legend-title {
	text-align: left;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 90%;
}
.my-legend .legend-scale ul {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	float: left;
	list-style: none;
}
.my-legend .legend-scale ul li {
	font-size: 80%;
	list-style: none;
	margin-left: 0;
	line-height: 18px;
	margin-bottom: 5px;
}
.my-legend ul.legend-labels li span {
	display: block;
	float: left;
	height: 16px;
	width: 30px;
	margin-right: 5px;
	margin-left: 0;
	border: 0px solid #FFF;
}
.my-legend .legend-source {
	font-size: 70%;
	color: #999;
	clear: both;
}
.my-legend a {
	color: #777;
}

.my-legend {
	top: 0;
	position: absolute;
	margin-left: 6em;
	background-color: rgba(50,50,50,.5);
	font: 300 1em 'Fira Sans', sans-serif;
	color: white;
	padding: 10px;
	border: 2px solid cyan;
	border-radius: 1em;
	margin-top: 1em;
	box-shadow: 0px 0px 13px cyan;
}

.request-history {
	top:0;
	position: absolute;
	margin-left: 6em;
	min-height: 300px;
	max-height: 80vh;
	min-width: 30vw;
	background-color: rgba(50,50,50,.5);
	font: 300 1em 'Fira Sans', sans-serif;
	color: white;
	padding: 25px;
	border: 2px solid cyan;
	border-radius: 1em;
	margin-top: 1em;
	overflow-y: auto;
	box-shadow: 0px 0px 13px cyan;
}

.request-history ul.request-labels li span {
	display: block;
	float: left;
	height: 16px;
	width: 30px;
	margin-right: 5px;
	margin-left: 0;
	border: 0px solid #FFF;
}

.request-history .request-container ul li {
	font-size: 80%;
	list-style: none;
	margin-left: 0;
	line-height: 18px;
	margin-bottom: 5px;
}

.request-labels {
	overflow-y: scroll;
	max-height: 300px;
}

.container {
	position: absolute;
	top: 0;
	background-color: rgba(50,50,50,.5);
	width: 45vw !important;
	margin: 1em !important;
	border: 2px solid cyan;
	border-radius: 1em;
	margin-left: 6em !important;
	max-height: 90vh;
	overflow: auto;
	box-shadow: 0px 0px 13px cyan;
}

.panel-title {
	color: white;
}

#address {
	color: white;
	word-wrap: break-word;
}

#account-tabs .nav-tabs {
    border: 1px solid #383f4b !important;
}

.nav-tabs {
	margin-top: 15px;
    border-bottom: 1px solid #ddd;
    background-color: #212529;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#account-tabs .nav-tabs li {
    color: #96a2b4;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav > li, .nav > li > a {
    position: relative;
    display: block;
}

#account-tabs .nav-tabs > li.active > a {

    border-bottom: 2px solid #fff;
    color: #01c0c8;

}
#account-tabs .nav-tabs > li > a {

    border-bottom: 2px solid;

}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {

    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;

}

a[id|="account-tabs-tab"][aria-selected="true"] {

    color: #01c0c8 !important;

}

a[id|="account-tabs-tab"]:hover {
    color: #01c0c8 !important;
    background-color: #3c4452 !important;
    border: 1px solid #3c4452;
        border-top-color: rgb(60, 68, 82);
        border-right-color: rgb(60, 68, 82);
        border-bottom-color: rgb(60, 68, 82);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: rgb(60, 68, 82);
    border-bottom: 2px solid #01c0c8 !important;
        border-bottom-color: rgb(1, 192, 200);
    border-color: #3c4452 !important;
}

.nav-tabs > li > a {
	color: white;
    border-radius: 0;
    text-decoration: none;

}
.nav-tabs > li > a {

    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
        border-bottom-color: transparent;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    border-radius: 4px 4px 0 0;

}
.nav > li > a {
    padding: 10px 15px;

}
.nav > li, .nav > li > a {
    position: relative;
    display: block;
 }

 .table-dark {
 	color: cyan !important;
 }

 #app {
 	color: cyan;
 }

 th {
 	text-align: center !important;
 }

.icon-bar {
    width: 90px; /* Set a specific width */
    background-color: #555; /* Dark-grey background */
    position: absolute;
    top: 0;
}

.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.icon-bar .active {
    background-color: cyan; /* Add an active/current color */
}

#back_button {
	position: absolute;
	top: 0;
	right: 0;
	margin: 5px;
}

div {
	color: cyan;
}

.request-title {
	font-size: 1.5em;
	text-decoration: bold;
	padding-bottom: 1em;
}

.account-title {
	font-size: 1.3em;
	text-decoration: bold;
	margin: 1em 0;
	padding: 0.5em 0;
	background: #212529;
}

.account-info {
	margin: 1em 0;
	padding: 0.5em 0;
	background: #212529;
}

.pie-chart {
	background: #212529;
	height: 350px;
	width: 350px;
	display: inline-block;
	text-align: center;
}

#myChart {
	height: 350px;
	width: auto;
}